h2 {
	font-family: "Montserrat";
	font-weight: 600;
	text-align: center;
}

#reportsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.createdFormContainer {
	background-color: #f9f9f9;
	padding: 15px;
	margin: 5px 0 5px 0;
	border-radius: 10px;
	font-family: "Roboto";
	width: 80%;
	font-size: 2rem;
	position: relative;
}

.deleteForm {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 10px;
	bottom: 0px;
	cursor: pointer;
}

.linkWrapper:hover {
	text-decoration: none;
}

.formTitle {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.formDescription {
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
}

.linksContainer {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.linksContainer a {
	color: black;
	font-size: 1rem;
	margin: 0 0 0 15px;
}
